@import "reset.css";
@import "variables.css";

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.main-menu,
.campaign,
#game-board {
  width: 100vmin;
  height: 100vmin;
}

#game-board {
  background-color: var(--clr-gameBoard-bg);

  &:not(.hidden) {
    display: grid;

    .snake,
    .food {
      border: 0.25vmin solid var(--clr-border);
    }

    .snake {
      background-color: var(--clr-snake-bg);
    }

    .food {
      background-color: var(--clr-food-bg);
    }
  }
}

.main-menu {
  background-color: var(--clr-mainMenu-bg);
}

.campaign {
  background-color: var(--clr-campaign-bg);
}

.campaign__level-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.campaign__level {
  aspect-ratio: 1/1;
  border: 1px solid var(--clr-border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
