@import "reset.css";
@import "variables.css";

@import "dialog.css";
@import "button.css";

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#main-menu,
#game-board {
  width: 100vmin;
  height: 100vmin;
}

#main-menu {
  background-color: var(--clr-mainMenu-bg);
}

#game-board {
  background-color: var(--clr-gameBoard-bg);

  &:not(.hidden) {
    display: grid;

    .snake,
    .food {
      border: 0.25vmin solid var(--clr-border);
    }

    .snake {
      background-color: var(--clr-snake-bg);
    }

    .food {
      background-color: var(--clr-food-bg);
    }
  }
}
