:root {
  --clr-body-bg: black;

  --clr-border: black;

  --clr-mainMenu-bg: darkgray;
  --clr-campaign-bg: darkgray;
  --clr-gameBoard-bg: lightgray;
  --clr-snake-bg: green;
  --clr-food-bg: red;
}
