.button {
  border: none;
  background-color: transparent;
  color: var(--clr-text);
  font-family: var(--ff-base);
  font-size: 8vmin;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: var(--clr-accent);

    &::before {
      content: ">";
      display: inline-block;
      margin-right: 1vmin;
    }
  }

  &.button--wide {
    width: 100%;
  }
}
