.button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "PixelUniCode", monospace;
  font-size: 8vmin;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: gold;

    &::before {
      content: ">";
      display: inline-block;
      margin-right: 1vmin;
    }
  }

  &.button--wide {
    width: 100%;
  }
}
