.campaign-view__level-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5vmin;
  width: 100%;
  padding-inline: 5vmin;
}

.campaign-view__level-btn {
  aspect-ratio: 1/1;
  border: none;
  background-color: var(--clr-text);
  font-family: var(--ff-base);
  font-size: 8vmin;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-accent);
  }

  &:disabled {
    background-color: gray;
    color: dimgray;
    cursor: not-allowed;
  }
}
