.dialog[open] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 95vmin;
  padding: 2.5vmin 5vmin;
  border: none;
  outline: none;

  .dialog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vmin;

    .dialog__title {
      font-size: 12vmin;
      white-space: nowrap;
    }

    .dialog__close-btn {
      border: none;
      background-color: transparent;
      font-size: 2.5vmin;
      cursor: pointer;
    }
  }

  .dialog__body {
    padding-block: 2.5vmin;
    font-size: 5vmin;
  }

  .dialog__footer {
    display: flex;
    align-items: center;
    gap: 2.5vmin;

    .dialog__button {
      flex-grow: 1;
      border: 0.25vmin solid black;
      background-color: transparent;
      font-family: var(--ff-base);
      font-size: 5vmin;
      text-transform: uppercase;
      padding-inline: 5vmin;
      cursor: pointer;

      &:hover {
        background-color: var(--clr-accent);
      }
    }
  }
}
