.form__fieldset {
  border: none;
}

.form__legend {
  font-size: 8vmin;
}

.form__controls--flex-row {
  display: flex;
  align-items: center;
  gap: 5vmin;
}

.form__label {
  font-size: 8vmin;
}

.form__input--radio {
  display: none;

  & + .form__label {
    cursor: pointer;

    &::before {
      content: "\25AB";
      display: inline-block;
      margin-right: 1vmin;
    }
  }

  &:checked + .form__label {
    color: var(--clr-accent);

    &::before {
      content: "\25AA";
    }
  }
}
