.game-board {
  position: relative;

  .game-board__static-area,
  .game-board__render-area {
    position: absolute;
    inset: 0;
    display: grid;
  }

  .food {
    background-color: var(--clr-food-bg);
    animation: pulse 0.75s ease-in-out infinite;
  }

  .snake {
    background-color: var(--clr-snake-bg);
    border: 0.25vmin solid var(--clr-snake-border);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}
